<div class="comment">
  <hr>
  <div class="post-comment">
    <span class="post-content">
      {{comment._render_text | safe}} -
    </span>

    <span class="post-user">
      {{comment.created_by.name}}
    </span>

    <span class="date">
      {{comment.created.strftime("%b %d, %Y %H:%M:%S")}}
    </span>
  </div>

  <br>
  <div class="edit-links">
    <a href="{{'/comment/edit/%d'%comment.key().id()}}" class="login-link">edit</a> |
    <a href="{{'/comment/delete/%d'%comment.key().id()}}" class="login-link">delete</a> |
  </div>
</div>
