<div class="post">
  <div class="post-heading">
    <p class="post-title">
      {{p.subject}}
    </p>

    <div class="post-date">
      by {{p.created_by.name}}
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <br>
  <div class="edit-links">
    <a href="{{'/post/view/%d'%p.key().id()}}" class="login-link">view</a> |
    <a href="{{'/post/edit/%d'%p.key().id()}}" class="login-link">edit</a> |
    <a href="{{'/post/delete/%d'%p.key().id()}}" class="login-link">delete</a> |
    <a href="{{'/post/comment/%d'%p.key().id()}}" class="login-link">comment</a> |
    <a href="{{'/post/like/%d'%p.key().id()}}" class="login-link">like</a>
    {{p.like_set.count()}} likes
  </div>
</div>
