<div class="post">
  <div class="post-heading">
    <p class="post-title">
      {{p.subject}}
    </p>

    <div class="post-date">
      by {{p.created_by.name}}
      {{p.created.strftime("%b %d, %Y")}}
    </div>
  </div>

  <div class="post-content">
    {{p._render_text | safe}}
  </div>
  <br>
  <div class="edit-links">
    <a href="{{'/%d'%p.key().id()}}" class="login-link">view</a> |
    <a href="{{'/edit/post/%d'%p.key().id()}}" class="login-link">edit</a> |
    <a href="{{'/delete/post/%d'%p.key().id()}}" class="login-link">delete</a>
  </div>
</div>
